.swiper-button-prev:after {
    color: #ffc515 !important;
    font-size: 30px !important;
}

.swiper-button-next:after {
    color: #ffc515 !important;
    font-size: 30px !important;
}

.photo{
    .text{
        position: absolute;
        left: 30%;
        top: 44%;
        h1{
            font-size: 85px;
            color: white;
            font-weight: bolder;
        }
    }
}

